@model DeliveryBookingSystemMVCClient.Models.Booking

@{
    ViewData["Title"] = "AddBooking";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";

}
<h3>Book here For Delivery</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBooking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CustomerId"></label>
                <input asp-for="CustomerId" class="form-control" />
                <br />

            </div>
            <div class="form-group">
                <label asp-for="ExecutiveId"></label>
                <input asp-for="ExecutiveId" class="form-control" />
                <span asp-validation-for="ExecutiveId" class="text-danger"></span>
                <br />
                <div>
                    <a asp-controller="Executive" asp-action="ListOfExecutiveAvailableForCustomerView">
                        <span class="badge badge-info" style="font-size:medium">*Click Here To Select Executive For Delivery</span>
                    </a>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DateTimeOfPickUp"></label>
                <input asp-for="DateTimeOfPickUp" id="Date" class="form-control" />
                <span asp-validation-for="DateTimeOfPickUp" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="WeightOfPackage"></label>
                <input asp-for="WeightOfPackage" class="form-control" id="Weight" onclick="CheckDate()"/>
                <span asp-validation-for="WeightOfPackage" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PinCode"></label>
                <input asp-for="PinCode" class="form-control" />
                <span asp-validation-for="PinCode" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Phone"></label>
                <a data-toggle="tooltip" data-placement="bottom" title="Phone Number should be 10 digits" >
                    <input asp-for="Phone" class="form-control" />
                </a>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            @if (ViewBag.error != null)
            {
                <span class="badge badge-danger">@ViewBag.error</span>
            }
            <br />
            <div class="form-group">
                    <input type="submit" value=" Book Now" class="btn btn-primary" onclick="return CalculatPrice();"/> 
            </div>
        </form>
    </div>
</div>
<br />
<script> 
    function CheckDate() {
                var dataEntered = document.getElementById('Date').value;
                var myDate = new Date(dataEntered);
        var today = new Date();
        if (myDate < today)
            alert('Please Choose valid date');
            }
    function CalculatPrice() {
        var weight = document.getElementById('Weight').value;
        var tax = weight * 0.02;
        var price = (weight * 100) + (tax);
        var result=confirm("The amount for delivery is " + price + " Are you sure to Confirm Booking?");
        if(result==true)
            return true;
        else
            return false;
    }
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
