
<img src="~/Images/Parcel.jpg"/>
<h4>ABOUT US</h4>
<br />
<p>Since its inception in 2011, Delhivery has become India’s leading supply chain services company. Our vision is to become the operating system for commerce in India, through a combination of world-class infrastructure, logistics operations of the highest quality and cutting-edge engineering and technology capabilities.</p>
<h4>OUR MISSION</h4>
<p>Delhivery provides products and services with the aim of building trust and improving the lives of consumers, small businesses, enterprises and our growing team of employees and partners. We are disrupting India’s logistics industry through our proprietary network design, infrastructure, partnerships, and engineering and technology capabilities. Delhivery brings unparalleled cost efficiency and pan-India reach to the businesses of over 10000 customers. We are driven by a mission to shrink time and distance, making the world a smaller place for our customers and over a billion consumers they serve.</p>