@{

    Layout = "~/Views/Shared/HomePage.cshtml";
}
<style>
    body{
        background-color:teal;
    }
</style>

<div class="jumbotron" >
    <h1 style="font-family:'Times New Roman', Times, serif;font-size:50px;font-weight:bolder;align-content:center"><img src="~/Images/Logo.jpg" style="height:100px;width:110px"/>Welcome to Fast Dove Delivery Service</h1>
    <br/>

    <marquee style="background-color: white" width="100%" direction="left" scrollamount="10" height="50px">
        <h2 style="color:darkblue;font-weight:bolder">Instant Door to Door Delivery With No Freight Charges !!!</h2>
    </marquee>
    <br />
    <br/>
    <h4> WHO ARE WE?</h4>
    <p>
        Since its inception in 2011, Delivery has become India’s leading supply chain services company. Our vision is to become the operating system for commerce in India, through a combination of world-class infrastructure, logistics operations of the highest quality and cutting-edge engineering and technology capabilities.
    </p>
    <div class="text-center">
        <img src="~/Images/Good1.jpg" width="70%" height="40%" class="rounded mx-auto d-block" />
    </div>
    <br /><br /><br />
    <h4>SERVICES</h4>
    <p>Delhivery’s aim is to build the operating system for commerce in India. We provide parcel transportation, warehousing, freight, reverse logistics, cross-border and technology services to over 10000 customers including all of India’s largest e-commerce companies and leading enterprises. Our supply chain platform and logistics operations bring flexibility, breadth, efficiency and innovation to our customers’ supply chain and logistics operations. Our operations, infrastructure and technology enable our customers to transact with us and our partners at the lowest costs.</p>
    <h4>PARTNERS</h4>
    <p>
        As part of our vision we also aim to enable businesses and individuals across India with tools to participate in the huge digital supply chain opportunity of the future. Over 7500 businesses have already partnered with Delhivery and have access to our infrastructure and technology, in order to extend the Delhivery fulfilment platform through their product and operations.
    </p>

</div>
