
@{
    ViewData["Title"] = "AdminLoginErrorPage";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<h1>Admin Login Error </h1>
<br />
<h4>Unable to Login...Unauthorised Admin</h4>
<br/>
<img src="~/Images/Error.png" width="100px" />
