@model DeliveryBookingSystemMVCClient.Models.Admin

@{
    ViewData["Title"] = "LoginAdmin";
    Layout = "~/Views/Shared/HomePage.cshtml";
}
<body>
    <br />
    <h1 style="color:teal">Login to Experience our Delivery Service...</h1>
    <hr />

    <marquee width="100%" direction="left" scrollamount="12" height="50px">
        <h2 style="color:cadetblue">World's Best and Fastest Delivery system</h2>
    </marquee>
    <span class="badge badge-success">@TempData["passA"]</span>
    <br />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="LoginAdmin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AdminEmail"></label>
                    <input asp-for="AdminEmail" class="form-control" />
                    <span asp-validation-for="AdminEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"> </label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                    @Html.ActionLink("Forgot Password", "UpdatePassword", "Admin")

                </div>
            </form>
        </div>
    </div>
    <img id="home" src="~/Images/2.png" height="300px" />
    <style>
        #home {
            position: absolute;
            top: 300px;
            right: 40px;
            left: 700px;
            bottom: 400px;
        }
    </style>
</body>
