
@{
    ViewData["Title"] = "ExecutivePage";
    Layout = "~/Views/Shared/ExecutiveLayout.cshtml";
}
<div class="jumbotron">
    <h1>Hii @TempData.Peek("ExecutiveName")</h1>
    <br />
    <h2>Welcome to Our Delivery Booking Service !!!</h2>
    <br />
    <h4>ABOUT US</h4>
    <p>Since its inception in 2011, Delhivery has become India’s leading supply chain services company. Our vision is to become the operating system for commerce in India, through a combination of world-class infrastructure, logistics operations of the highest quality and cutting-edge engineering and technology capabilities.</p>
    <img src="~/Images/Front.png" class="mx-auto d-block" width="500px" />
    <br />
    <br />

    <h4>ITʼS IN THE GETTING THERE</h4>
    <p>
        Our team has successfully fulfilled over 1 billion orders to more than 300 million households across India. 24 automated sort centers, 85+ fulfilment centers, 75+ hubs, 3000+ direct delivery centers, 7500+ partner centers, 15000+ vehicles and 40000+ team members make it possible to deliver a million packages a day, 24 hours a day, 7 days a week, 365 days a year. We are De
    </p>
</div>
    
