
@{
    ViewData["Title"] = "CustomerPage";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<div class="jumbotron">
    <h1>Hii @TempData.Peek("CustomerName")</h1>
    <br />
    <h3>Welcome to Our Delivery Booking Service!!!</h3>
    <br />
    <h4>ABOUT US</h4>
    <p>Since its inception in 2011, Delhivery has become India’s leading supply chain services company. Our vision is to become the operating system for commerce in India, through a combination of world-class infrastructure, logistics operations of the highest quality and cutting-edge engineering and technology capabilities.</p>

    <img src="~/Images/Parcel.jpg" class="mx-auto d-block" height="400px" />
    <br />
    <br />

    <h4>ITʼS IN THE GETTING THERE</h4>
    <p>
        Our team has successfully fulfilled over 1 billion orders to more than 300 million households across India. 24 automated sort centers, 85+ fulfilment centers, 75+ hubs, 3000+ direct delivery centers, 7500+ partner centers, 15000+ vehicles and 40000+ team members make it possible to deliver a million packages a day, 24 hours a day, 7 days a week, 365 days a year.
    </p>
</div>
