
@{
    ViewData["Title"] = "CustomerLoginErrorPage";

}

<h1>Customer Login Error</h1>

<h4>Unable to Login...Unauthorised Customer</h4>
<br />
<img src="~/Images/Error.png" width="100px" />
<br />
<br/>
<h4>Try to register again using below link</h4>

<br />
<h2>
    <a asp-action="RegisterCustomer"><input type="submit" value="Regiser Here" class="btn btn-primary" /></a>
</h2>